@import './reset.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
	/* Colors */
	--blackpure: #000;
	--black:  #000000;
	--black-border: #26292d;
	--white: #FAFAFA;
	--purple: #F35B04;

	/* Nav */
	--nav-bg: var(--white);
	--nav-border: var(--black-border);
	--nav-text: var(--black);

	/* Header */
	--header-bg: var(--black);
	--header-text: var(--white);

	/* Footer */
	--footer-bg: var(--black);
	--footer-text: var(--white);

	/* Light mode */
	--page-bg: var(--white);
	--text-color: var(--black);
	--accent: var(--purple);
	--title-1: var(--accent);

	--project-card-bg: var(--white);
	--project-card-text: var(--black);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark {
	/* Dark mode */
	--page-bg: #252526;
	--text-color: var(--white);

	--title-1: var(--white);

	--project-card-bg: var(--black);
	--project-card-text: var(--white);
	--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html,
body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}
h2 {
	font-size: 20px;
}

h3 {
	font-size:	15px;
}

.App {

}

#root

/* General */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
}

/* Btn */

.btn {
	display: flex;
	height: 48px;
	padding: 5px 15px;
	align-items: center;
	column-gap: 15px;

	border-radius: 10px;
	background-color: var(--accent);
	color: var(--white);
	letter-spacing: 0.15px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;

	transition: opacity 0.2s ease-in;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	position: relative;
	top: 1px;
}

/* Btn outline */

.btn-outline {
	display: flex;
	column-gap: 10px;
	align-items: center;

	height: 48px;
	padding: 12px 20px;

	border-radius: 5px;
	border: 1px solid #000;
	background-color: #fff;
	color: #000;

	transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
	opacity: 0.8;
}

.btn-outline:active {
	position: relative;
	top: 1px;
}

.btn-marafon {
	background-color: #3D348B;
}

/* Top  */

.top__inner {
	position: relative;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* .top__inner::before {
	content: url(../img/icons/star__top.png);
    position: absolute;
    right: 20%;
    top: 10%;
    width: 22px;
    height: 30px;
	z-index: -10;
} */

.top__content {
	display:flex;
	flex-direction: column;
	row-gap: 20px;
	max-width: 350px;
	padding: 200px 0;
}

.top__buttons {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}

.top__items {
	display: flex;
	column-gap: 20px;
}

.top__dishes {
	display: flex;
	column-gap: 20px;
}


/* Project details */


/* Content list */

